* {
  box-sizing: border-box;
}

body {
  background: #000;
}

section {
  margin: 5vh 4vw;
}

h1 > span{
  position: absolute;
  left: 40vw;
  color: white;

}

div.up
{
    position: relative;
    top: 150px;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
}


#topic {
  margin: 0 30vw;
  color: yellow;
  font-size: 50px;
}


#sun, #Earth, #Jupiter, #Neptune {
  background: yellow;
  border-radius: 50%;
  box-shadow: 0 0 10px orange;
  transform: translate(48vw, 60vh);
  position: absolute;
}

#sun {
  width: 120px;
  height: 120px;
}


#Earth {
  background: blue;
  box-shadow: 0 0 10px white;
  width: 30px;
  height: 30px;
}

#Jupiter {
  background: gold;
  box-shadow: 0 0 10px white;
    width: 60px;
  height: 60px;
}

#Neptune {
  background: #0d98ba;
  box-shadow: 0 0 10px white;
    width: 50px;
  height: 50px;
}

article {
  position: relative;
  top: 90vh;
  padding: 10%;
}

section {
  margin: 20% 0;
}

div > p {
  margin: 70px 0;
  color: white;
  font-size: 30px;
  font-family: 'Russo One', sans-serif;
  text-align: justify;
}


div > figure > p {
  margin: 70px 0;
  color: white;
  font-size: 30px;
  font-family: 'Russo One', sans-serif;
  text-align: justify;
}

img {
  max-width: 30vw;
  margin: 10px;
  border-radius: 10%;
}

nav {
    overflow: hidden;
    position: fixed;
    z-index: 999;
    transform: translateX(-300px);
    height: 50%;
    width: 400px;
    transition: all 800ms cubic-bezier(.8, 0, .33, 1);
    border-radius: 0% 0% 100% 50%;
}

nav.nav-open {
    z-index: 999;
    width: 250px;
    transform: translateX(0px);
    border-radius: 0% 10% 10% 0%;
    background: rgba(255, 255, 255, 0.9);
}

nav .menu-btn {
    position: absolute;
    top: 10%;
    right: 5%;
    cursor: pointer;
    z-index: 999;
}

nav .menu-btn>div {
    background: red;
    height: 2px;
    margin: 5px 0;
    transition: all 700ms cubic-bezier(.9, 0, .33, 1);
}

nav .menu-btn div:first-of-type {
    width: 30px;
    transform: rotate(0) translateY(0);
}

nav .menu-btn div:first-of-type.line-cross {
    width: 30px;
    transform: rotate(45deg) translateY(10px);
    background: rgba(0, 0, 0, 0.6);
}

nav .menu-btn div:nth-of-type(2) {
    width: 25px;
    transform: translateX(0);
}

nav .menu-btn div:nth-of-type(2).line-fade-out {
    width: 28px;
    transform: translate(30px);
    opacity: 0;
}

nav .menu-btn div:last-of-type {
    width: 20px;
    transform: rotate(0) translateY(0);
}

nav .menu-btn div:last-of-type.line-cross {
    width: 30px;
    transform: rotate(-45deg) translateY(-10px);
    background: rgba(0, 0, 0, 0.6);
}

nav .nav-links {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-100px);
    opacity: 0;
    transition: all 900ms cubic-bezier(.9, 0, .33, 1);
}

nav .nav-links.fade-in {
    opacity: 1;
    transform: translateX(0px);
}

nav .nav-links .link {
    margin: 20px 0;
    text-decoration: none;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 700;
    /*    text-transform: uppercase;*/
    font-size: 1.2rem;
    transition: all 300ms cubic-bezier(.9, 0, .33, 1);
}

nav .nav-links .link:hover {
    color: rgba(0, 255, 255, .5);
}